<h1>Editing Restaurant Item</h1>
<div class="container">
<%= render 'form', restaurant_item: @restaurant_item %>

<%= link_to 'Show', @restaurant_item %> |
<%= link_to 'Back', restaurant_items_path %>
</div>